### One Hot Enconding for feature Engineering

In [3]:
import pandas as pd
import numpy as np

In [9]:
data=pd.read_csv('mercedes.csv',usecols=['X1','X2','X3','X4','X5','X6'])

In [12]:
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [13]:
data.columns

Index(['X1', 'X2', 'X3', 'X4', 'X5', 'X6'], dtype='object')

In [22]:
for col in data.columns:
    print(col,':',len(data[col].unique()), 'labels')

X1 : 27 labels
X2 : 44 labels
X3 : 7 labels
X4 : 4 labels
X5 : 29 labels
X6 : 12 labels

In [30]:
hot_encoding=pd.get_dummies(data,drop_first=True)

In [31]:
hot_encoding.shape

(4209, 117)

In [33]:
data.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64