In [1]:
import pandas as pd
covid_data= pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv')
print(covid_data)
print("\nDataset information:")
print(covid_data.info())
print("\nMissing data information:")
print(covid_data.isna().sum())

    Province/State                  Country/Region          Last Update  \
0            Hubei                           China  2020-03-17T11:53:10
1              NaN                           Italy  2020-03-17T18:33:02
2              NaN                            Iran  2020-03-17T15:13:09
3              NaN                           Spain  2020-03-17T20:53:02
4              NaN                         Germany  2020-03-17T18:53:02
..             ...                             ...                  ...
275            NaN  occupied Palestinian territory  2020-03-11T20:53:02
276        Unknown                           China  2020-03-17T11:53:10
277            NaN                        Kiribati  2020-03-17T11:53:10
278            NaN                           Palau  2020-03-17T11:53:10
279   Cook Islands                     New Zealand  2020-03-17T11:53:10

     Confirmed  Deaths  Recovered  Latitude  Longitude
0        67799    3111      56003   30.9756   112.2707
1        31506    2503       2941   41.8719    12.5674
2        16169     988       5389   32.4279    53.6880
3        11748     533       1028   40.4637    -3.7492
4         9257      24         67   51.1657    10.4515
..         ...     ...        ...       ...        ...
275          0       0          0   31.9522    35.2332
276          0       0          0       NaN        NaN
277          0       0          0   -3.3704  -168.7340
278          0       0          0   -3.3704  -168.7340
279          0       0          0   -3.3704  -168.7340

[280 rows x 8 columns]

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  128 non-null    object
 1   Country/Region  280 non-null    object
 2   Last Update     280 non-null    object
 3   Confirmed       280 non-null    int64
 4   Deaths          280 non-null    int64
 5   Recovered       280 non-null    int64
 6   Latitude        279 non-null    float64
 7   Longitude       279 non-null    float64
dtypes: float64(2), int64(3), object(3)
memory usage: 17.6+ KB
None

Missing data information:
Province/State    152
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            1
Longitude           1
dtype: int64

In [6]:
covid_data.columns
covid_data.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515

In [7]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  128 non-null    object
 1   Country/Region  280 non-null    object
 2   Last Update     280 non-null    object
 3   Confirmed       280 non-null    int64
 4   Deaths          280 non-null    int64
 5   Recovered       280 non-null    int64
 6   Latitude        279 non-null    float64
 7   Longitude       279 non-null    float64
dtypes: float64(2), int64(3), object(3)
memory usage: 17.6+ KB

In [8]:
print("\nMissing data information:")
print(covid_data.isna().sum())

Missing data information:
Province/State    152
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            1
Longitude           1
dtype: int64

#### Write a Python program to get the latest number of confirmed, deaths, recovered and active cases of Novel Coronavirus (COVID-19) Country wise.

In [9]:
covid_data['Active'] = covid_data['Confirmed'] - covid_data['Deaths'] - covid_data['Recovered']
covid_data['Active']

0       8685
1      26062
2       9792
3      10187
4       9166
       ...
275        0
276        0
277        0
278        0
279        0
Name: Active, Length: 280, dtype: int64

In [10]:
covid_data['Active'] = covid_data['Confirmed'] - covid_data['Deaths'] - covid_data['Recovered']
result = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered', 'Active'].sum().reset_index()
print(result)

                     Country/Region  Confirmed  Deaths  Recovered  Active
0                       Afghanistan         20       0          1      19
1                           Albania         55       1          0      54
2                           Algeria         60       4         12      44
3                           Andorra         39       0          1      38
4               Antigua and Barbuda          1       0          0       1
..                              ...        ...     ...        ...     ...
156                         Uruguay         29       0          0      29
157                      Uzbekistan         10       0          0      10
158                       Venezuela         33       0          0      33
159                         Vietnam         66       0         16      50
160  occupied Palestinian territory          0       0          0       0

[161 rows x 5 columns]

<ipython-input-10-43a7da3340a3>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  result = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered', 'Active'].sum().reset_index()

##### Write a Python program to get the latest number of confirmed deaths and recovered people of Novel Coronavirus (COVID-19) cases Country/Region - Province/State wise

In [11]:
data = covid_data.groupby(['Country/Region', 'Province/State'])['Confirmed', 'Deaths', 'Recovered'].max()
pd.set_option('display.max_rows', None)
print(data)

                                             Confirmed  Deaths  Recovered
Country/Region Province/State
Australia      Australian Capital Territory          2       0          0
               From Diamond Princess                 0       0          0
               New South Wales                     210       4          4
               Northern Territory                    1       0          0
               Queensland                           78       0          8
               South Australia                      29       0          3
               Tasmania                              7       0          0
               Victoria                             94       0          8
               Western Australia                    31       1          0
Canada         Alberta                              74       0          0
               British Columbia                    103       4          4
               Grand Princess                        8       0          0
               Manitoba                              8       0          0
               New Brunswick                         8       0          0
               Newfoundland and Labrador             3       0          0
               Nova Scotia                           7       0          0
               Ontario                             185       1          5
               Prince Edward Island                  1       0          0
               Quebec                               74       1          0
               Saskatchewan                          7       0          0
China          Anhui                               990       6        984
               Beijing                             456       8        369
               Chongqing                           576       6        570
               Fujian                              296       1        295
               Gansu                               133       2         91
               Guangdong                          1364       8       1307
               Guangxi                             253       2        248
               Guizhou                             147       2        144
               Hainan                              168       6        161
               Hebei                               318       6        310
               Heilongjiang                        482      13        456
               Henan                              1273      22       1250
               Hong Kong                           162       4         88
               Hubei                             67799    3111      56003
               Hunan                              1018       4       1014
               Inner Mongolia                       75       1         73
               Jiangsu                             631       0        631
               Jiangxi                             935       1        934
               Jilin                                93       1         92
               Liaoning                            125       1        120
               Macau                                12       0         10
               Ningxia                              75       0         75
               Qinghai                              18       0         18
               Shaanxi                             246       3        236
               Shandong                            761       7        746
               Shanghai                            358       3        325
               Shanxi                              133       0        133
               Sichuan                             540       3        520
               Tianjin                             136       3        133
               Tibet                                 1       0          1
               Unknown                               0       0          0
               Xinjiang                             76       3         73
               Yunnan                              176       2        172
               Zhejiang                           1232       1       1216
Cruise Ship    Diamond Princess                    696       7        325
Denmark        Denmark                             977       4          1
               Faroe Islands                        47       0          0
France         France                             7652     148         12
               French Guiana                         7       0          0
               French Polynesia                      3       0          0
               Guadeloupe                            6       0          0
               Mayotte                               1       0          0
               Reunion                               9       0          0
               Saint Barthelemy                      3       0          0
               St Martin                             2       0          0
Netherlands    Curacao                               3       0          0
               Netherlands                        1705      43          2
New Zealand    Cook Islands                          0       0          0
US             Alabama                              39       0          0
               Alaska                                3       0          0
               Arizona                              20       0          1
               Arkansas                             22       0          0
               California                          698      12          6
               Colorado                            160       2          0
               Connecticut                          68       0          0
               Delaware                             16       0          0
               Diamond Princess                     47       0          0
               District of Columbia                 22       0          0
               Florida                             216       6          0
               Georgia                             146       1          0
               Grand Princess                       21       0          0
               Guam                                  3       0          0
               Hawaii                               10       0          0
               Idaho                                 8       0          0
               Illinois                            161       1          2
               Indiana                              30       2          0
               Iowa                                 23       0          0
               Kansas                               18       1          0
               Kentucky                             26       1          1
               Louisiana                           196       4          0
               Maine                                32       0          0
               Maryland                             60       0          3
               Massachusetts                       218       0          1
               Michigan                             65       0          0
               Minnesota                            60       0          0
               Mississippi                          21       0          0
               Missouri                             11       0          0
               Montana                               9       0          0
               Nebraska                             21       0          0
               Nevada                               56       1          0
               New Hampshire                        26       0          0
               New Jersey                          267       3          1
               New Mexico                           23       0          0
               New York                           1706      13          0
               North Carolina                       64       0          0
               North Dakota                          3       0          0
               Ohio                                 67       0          0
               Oklahoma                             19       0          0
               Oregon                               66       1          0
               Pennsylvania                        112       0          0
               Puerto Rico                           5       0          0
               Rhode Island                         23       0          0
               South Carolina                       47       1          0
               South Dakota                         11       1          0
               Tennessee                            74       0          0
               Texas                               110       1          0
               Utah                                 51       0          0
               Vermont                              12       0          0
               Virgin Islands                        2       0          0
               Virginia                             67       2          0
               Washington                         1076      55          1
               West Virginia                         1       0          0
               Wisconsin                            72       0          1
               Wyoming                              11       0          0
United Kingdom Cayman Islands                        1       1          0
               Channel Islands                       6       0          0
               Gibraltar                             3       0          1
               United Kingdom                     1950      55         52

<ipython-input-11-74b737fc5a0e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data = covid_data.groupby(['Country/Region', 'Province/State'])['Confirmed', 'Deaths', 'Recovered'].max()

##### Write a Python program to get the Chinese province wise cases of confirmed, deaths and recovered cases of Novel Coronavirus (COVID-19)

In [12]:
c_data = covid_data[covid_data['Country/Region']=='China']

In [14]:
c_data = covid_data[covid_data['Country/Region']=='China'][['Province/State','Confirmed','Deaths','Recovered']].sort_values(by='Confirmed',ascending=False)

In [15]:
c_data.head()

   Province/State  Confirmed  Deaths  Recovered
0           Hubei      67799    3111      56003
12      Guangdong       1364       8       1307
14          Henan       1273      22       1250
16       Zhejiang       1232       1       1216
19          Hunan       1018       4       1014

####  Write a Python program to get the latest country wise deaths cases of Novel Coronavirus (COVID-19)

In [16]:
covid_data.groupby('Country/Region')['Deaths'].sum().sort_values(ascending=False).head(3)

Country/Region
China    3230
Italy    2503
Iran      988
Name: Deaths, dtype: int64

In [17]:
data = covid_data.groupby('Country/Region')['Country/Region','Confirmed', 'Deaths', 'Recovered'].sum().reset_index()

<ipython-input-17-7e933a5eff83>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data = covid_data.groupby('Country/Region')['Country/Region','Confirmed', 'Deaths', 'Recovered'].sum().reset_index()

In [18]:
data.head()

        Country/Region  Confirmed  Deaths  Recovered
0          Afghanistan         20       0          1
1              Albania         55       1          0
2              Algeria         60       4         12
3              Andorra         39       0          1
4  Antigua and Barbuda          1       0          0

In [19]:
result = data[data['Deaths']>0][['Country/Region', 'Deaths']]

In [20]:
result.head()

  Country/Region  Deaths
1        Albania       1
2        Algeria       4
5      Argentina       2
8      Australia       5
9        Austria       3

In [21]:
result.sort_values(by='Deaths',ascending=False).head()

    Country/Region  Deaths
29           China    3230
73           Italy    2503
69            Iran     988
137          Spain     533
49          France     148

#### Write a Python program to list countries with no cases of Novel Coronavirus (COVID-19) recovered

In [22]:
data = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()
result = data[data['Recovered']==0][['Country/Region', 'Confirmed', 'Deaths', 'Recovered']]

<ipython-input-22-432e4774d21d>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()

In [23]:
result.head()

         Country/Region  Confirmed  Deaths  Recovered
1               Albania         55       1          0
4   Antigua and Barbuda          1       0          0
7                 Aruba          3       0          0
13             Barbados          2       0          0
16                Benin          1       0          0

In [24]:
mask=data['batsman_runs']==4
new_del=data[mask]
new_del.shape[0]

KeyError: 'batsman_runs'

In [ ]:
## 2nd method
data=covid_data.groupby('Country/Region')['Recovered'].sum()
dataFill=covid_data['Recovered']==0
print(covid_data[data & dataFill])

In [87]:
data.head()

Country/Region
Afghanistan             1
Albania                 0
Algeria                12
Andorra                 1
Antigua and Barbuda     0
Name: Recovered, dtype: int64